<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <?!= include('views/partials/head'); ?>
    <title></title>
  </head>
  <body class="ts-body ts-theme-dark">
    <?!= include('views/partials/navbar'); ?>
    <main class="ts-container ts-container--fluid">
      <?!= include('views/partials/dashboard'); ?>
      <?!= include('views/partials/contracts'); ?>
      <?!= include('views/partials/hourtypes'); ?>
      <?!= include('views/partials/deductions'); ?>
      <?!= include('views/partials/bas'); ?>
      <?!= include('views/partials/annualviews'); ?>
      <?!= include('views/partials/settings'); ?>
    </main>
    <?!= include('views/partials/scripts'); ?>
  </body>
</html>
